.bg_pattern {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: #fff;
  z-index: -1;
}
.Paper_v2 {
  background-image:
    repeating-linear-gradient(to bottom,
      transparent 25px,
      rgba(0, 0, 0, 0.04) 26px,  rgba(0, 0, 0, 0.04) 26px,
      transparent 27px,  transparent 51px, 
      rgba(0, 0, 0, 0.04) 52px,  rgba(0, 0, 0, 0.04) 52px,
      transparent 53px,  transparent 77px, 
      rgba(0, 0, 0, 0.04) 78px,  rgba(0, 0, 0, 0.04) 78px,
      transparent 79px,  transparent 103px, 
      rgba(0, 0, 0, 0.04) 104px,  rgba(0, 0, 0, 0.04) 104px,
      transparent 105px,  transparent 129px, 
      rgba(0, 0, 0, 0.04) 130px,  rgba(0, 0, 0, 0.04) 130px),
 
    repeating-linear-gradient(to right,
      transparent 25px,
      rgba(0, 0, 0, 0.04) 26px,  rgba(0, 0, 0, 0.04) 26px,
      transparent 27px,  transparent 51px, 
      rgba(0, 0, 0, 0.04) 52px,  rgba(0, 0, 0, 0.04) 52px,
      transparent 53px,  transparent 77px, 
      rgba(0, 0, 0, 0.04) 78px,  rgba(0, 0, 0, 0.04) 78px,
      transparent 79px,  transparent 103px, 
      rgba(0, 0, 0, 0.04) 104px,  rgba(0, 0, 0, 0.04) 104px,
      transparent 105px,  transparent 129px, 
      rgba(0, 0, 0, 0.04) 130px,  rgba(0, 0, 0, 0.04) 130px);
}


.contact-form {
    border: 1px solid #ccc;
    padding: 10px;
    font-size: 13px;
    font-family: sans-serif;
  }
  .contact-form .item {
    overflow: hidden;
    margin-bottom: 10px;
  }
  .contact-form .item.no-label {
    padding: 5px 0px 5px 60px;
  }
  .contact-form .item .label {
    padding: 5px;
    margin:0;
  }
  .contact-form .item .radio-group{
    padding: 5px 0px 5px 60px;
  }
  
  body{
    text-align: center;
}
.contact-form .item input[type=text],
.contact-form .item input[type=email],
.contact-form .item textarea {
  width: 200px;
  padding: 5px;
  border: 1px solid #ccc;
  box-sizing: border-box;
  font-size: 13px;
}
  .contact-form .item ::placeholder {
    color: #ccc;
  }
  .contact-form .item textarea {
    outline: none;
    border: 1px solid #ccc;
    resize: vertical;
  }
  input[type=submit] {
    border: none;
    outline: none;
    line-height: 30px;
    width: 160px;
    text-align: center;
    font-size: 13px;
    color: #fff;
    background-color: #696;
    border-bottom: 4px solid #464;
    cursor:pointer;
    box-sizing: content-box;
    transition:0.3s ease all
  }
  input[type=submit]:hover{
    border-bottom-width:0;
    transform:translateY(4px)
  }
  header {
    border-bottom: 3px dashed #333;
  }

  title {
    padding: .5em .75em;
    background-color: skyblue;
    border: 3px solid rgb(2, 22, 59);
    border-radius: 20px;
  }